@import "variables";

footer {
  background-color: $footer-background-color;

  & .sports_app__contents--footer-heading {
    margin-top: 0;
    padding-top: 41px;
  }
}

.footer_navigation__links {
    @include reset-list;
    & a {
      color: $footer-text-color;
    }
}


.footer_navigation__links--offers {
  padding-top: 34px;
  padding-bottom: 45px;
}
.footer_navigation__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_navigation__links__meadia--tweeter {
  background-image: url(../img/icon_twitter.svg);
}

.footer_navigation__links__meadia--facebook {
  background-image: url(../img/icon_facebook.svg);
}


.footer_navigation__links__meadia--instagram {
  background-image: url(../webroot/img/icon_instagram.svg);
}



