 .sports_app__heading {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 30PX;
   margin-bottom: 50px;
 }

 .sports_app__heading__title {
  margin: 0;
 }

 @media (min-width: 1040px) {
  .sports_app__heading {
    align-items: flex-start;
    margin-top: 35px;
    margin-bottom: 90px;
    max-width: 1114px;
    margin-left: auto;
    margin-right: 0;
    background-image: url("../img/bg_header-modified.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position-x: calc(50vw - 11px);
    background-position-y: 70%;
  }

  .sports_app__heading__title {
    margin-bottom: 163px;
  }
}
