@import "colors";
@import "variables";
@import "mixins";

.sports_app__heading__title {
  @include align-contents;
}

.sports_app__heading {
  background-color: #F4F6F9;
}

 @media (min-width: $faux-column-width) {
  .sports_app__heading {
    background-color: #F4F6F9;
    background-image: url(../img/bg_header.png);
    background-position-x: 40vw;
    background-repeat: no-repeat;
    background-position-y: -200px;
  }

  .sports_app__heading__title {
    position: absolute;
    left: calc(50% - 557px);
    margin-top: auto;
    margin-bottom: 183px;
    padding-top: 50px;
  }

}
