
.sports_app__information__opportunity--recommendation {
  font-family: 'lato-bold';
  font-size: 30px;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-block-start: 0;
  letter-spacing: 0.03em;
  color: $heading-color;
}

.sports_app__information__opportunity--goal {
  font-family: 'lato-regular';
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: $paragraph-color;
  margin-bottom: 50px;
}


@media (min-width: 1040px) {
  .sports_app__information {
    max-width: 1114px;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }

  .sports_app__information__opportunity {
    text-align: start;
  }

  .sports_app__information__opportunity--recommendation {
    max-width: 546px;
  }

  .sports_app__information__opportunity--goal {
    max-width: 453px;
  }
}
