@import "variables";
.tailor_experience_navigation_contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tailor_experience__navigation__contents__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.tailor_experience__navigation__contents__list {
  & svg {
    width: 37px;
    fill: #084482;
  }
  & p {
    color: $paragraph-color;
  }
}
@media (min-width: $faux-column-width) {
  .tailor-experience_section {
    background-color: $footer-background-color;
    background-image: url(../img/background_blue_rectangles.svg);
    background-repeat: no-repeat;
    background-position-y: -5px;
    background-position-x: -41px;
    padding-top: 71px;
    padding-bottom: 67px;
  }

  .sports_app__contents--tailor-experience {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tailor_experience_navigation_contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 87px;
    row-gap: 40px;
  }

  .tailor_experience__navigation__contents__list {
    max-width: 304px;
    text-align: unset;
    align-items: flex-start;
  }

  .tailor-experience_section {
    & .tailor_experience__navigation__contents__list,
    & .sports_app__contents__heading {
      color: $footer-text-color;
    }

    & .sports_app__contents__heading {
      font-size: 27px;
      line-height: 36px;
      padding-bottom: 36px;
    }
  }

  .tailor_experience__navigation__contents__list p {
    list-style-type: disc;
    display: list-item;
    list-style-position: inside;
    margin-top: 2px;
    margin-bottom: 0;
    line-height: 24px;
    color: $footer-text-color;
  }

  .tailor_experience__navigation__contents__list svg {
    fill: $footer-text-color;
  }
}
