@import "variables";

 .user_interface_section {
  background-image: url(../img/bg_friendly_user_interface_medium.png);
  background-repeat: no-repeat;
  background-position-y: 25%;
  background-position-x: 50%;
  padding-bottom: 484px;
 }

 @media (min-width: $faux-column-width) {
  .user_interface_section {
    background-image: url(../img/bg_friendly_user_interface.png);
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 50%;
    padding-top: 150px;
    padding-bottom: 140px;

      & .sports_app__heading__title {
        justify-content: start;
      }

      & .sports_app__heading__title__logolink {
        margin-inline-start: 117px;
      }
   }

 }
