:root {
  --desktop-min-width: 480px;
/* For mobile */
  --article-margin-left: 20px;
  --article-margin-right: 20px;
  /* for desktop*/
  --body-margin-left: 163px;
}
body {
background: #F4F6F9;
margin: 0;
}

.sports_app__information, .sports_app__accessibilities_navigation {
  margin-left: var(--article-margin-left);
  margin-right: var(--article-margin-right);
}




@media (min-width: 480px) {
  body {
    margin-inline-start: var(--body-margin-left);
    background-image: url("../img/bg-header-medium.png");
    background-repeat: no-repeat;
    background-position-x: 75%;
    background-position-y: 35%;

  }
}

