body {
background: #F4F6F9;
margin: 0;
}

.sports_app__information, .sports_app__accessibilities_navigation {
  margin-left: 20px;
  margin-right: 20px;
}

/* Setting the space between the two paragraph*/
.sports_app__information__opportunity--recommendation {
  margin-bottom: 33px;
}

/* Setting the space between the last paragraph and the two button-links*/
.sports_app__information {
  margin-bottom: 50px;
}

@media (min-width: 350px) {
  body {
    margin-left: 162px;
  }
 }

