body {
background: #F4F6F9;
margin: 0;
}

.sports_app__information, .sports_app__accessibilities_navigation {
  margin-left: 20px;
  margin-right: 20px;
}




@media (min-width: 480px) {
  body {
    margin-inline-start: 163px;
    background-image: url("../img/bg_header.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 450px 450px;
  }

 }

