@font-face {
  font-family: 'lato-bold';
  src: url(/webroot/fonts/Lato-Bold.woff) format('woff');
}

@font-face {
  font-family: 'lato-regular';
  src: url(/webroot/fonts/Lato-Regular.woff) format('woff');
}
