/* Fonts */
@font-face {
  font-family: 'lato-bold';
  src: local(lato Bold), url(../fonts/Lato-Bold.woff2) format("woff2"), url(../fonts/Lato-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'lato-regular';
  src: local(lato Regular), url(../fonts/Lato-Regular.woff2) format("woff2"), url(../fonts/Lato-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal; }

/* Defaault style */
:root {
  --body-max-width: 1114px;
  --article-max-width: 546px;
  /* For mobile */
  --article-margin-left: 20px;
  --article-margin-right: 20px;
  /* for desktop*/
  --body-margin-left: 163px; }

body {
  background-color: #F4F6F9;
  margin: 0; }

.sports_app__information, .sports_app__accessibilities_navigation {
  margin-left: var(--article-margin-left);
  margin-right: var(--article-margin-right); }

@media (min-width: 1040px) {
  body {
    max-width: var(--body-max-width);
    margin-left: auto;
    margin-right: auto; } }

.sports_app__accessibilities_navigation__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-inline-start: 0;
  margin: 0; }

.sports_app__accessibilities_navigation__links__downloaders {
  list-style: none; }

.sports_app__accessibilities_navigation__links__downloaders img {
  max-width: 100%;
  max-height: 100%; }

.sports_app__accessibilities_navigation__links__downloaders:first-of-type {
  margin-right: 28.61px; }

@media (min-width: 1040px) {
  .sports_app__accessibilities_navigation__links {
    justify-content: flex-start; }
  .sports_app__accessibilities_navigation__links__downloaders:first-of-type {
    margin-right: 35.9px; }
  .sports_app__accessibilities_navigation {
    margin-inline-start: 0; } }

.sports_app__information__opportunity--recommendation {
  font-family: 'lato-bold';
  font-size: 30px;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-block-start: 0;
  letter-spacing: 0.03em;
  color: #333333; }

.sports_app__information__opportunity--goal {
  font-family: 'lato-regular';
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #4F4F4F;
  margin-bottom: 50px; }

@media (min-width: 1040px) {
  .sports_app__information__opportunity {
    text-align: start; }
  .sports_app__information__opportunity--recommendation {
    max-width: 546px; }
  .sports_app__information__opportunity--goal {
    max-width: 453px; } }

.sports_app__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30PX;
  margin-bottom: 50px; }

.sports_app__heading__title {
  margin: 0; }

@media (min-width: 1040px) {
  .sports_app__heading {
    align-items: flex-start;
    margin-top: 35px;
    margin-bottom: 90px;
    max-width: 1114px;
    background-image: url("../img/bg_header-modified.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position-x: calc(50vw - 11px);
    background-position-y: 70%; }
  .sports_app__heading__title {
    margin-bottom: 163px; } }
