.sports_app__accessibilities_navigation__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-inline-start: 0;
  margin: 0;
}
.sports_app__accessibilities_navigation {
margin-inline-start: 20px;
}
.sports_app__accessibilities_navigation__links__downloaders {
  list-style: none;
}

.sports_app__accessibilities_navigation__links__downloaders svg {
   max-width: 100%;
   max-height: 100%;
}

.sports_app__accessibilities_navigation__links__downloaders:first-of-type {
  margin-right: 28.61px;
}

@media (min-width: 1040px) {
  .sports_app__accessibilities_navigation__links {
     justify-content: flex-start;
  }
  .sports_app__accessibilities_navigation__links__downloaders:first-of-type {
    margin-right: 35.9px;

  }

  .sports_app__accessibilities_navigation {
    margin-inline-start: 0;
    }
}

