.sports_app__information__opportunity {
  width: 100%;
  height: auto;
}
.sports_app__information__opportunity--recommendation {
  font-family: 'lato-bold';
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  letter-spacing: 0.03em;
  color: #333333;
}

.sports_app__information__opportunity--goal {
  font-family: 'lato-regular';
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #4F4F4F;
}


@media (min-width: 480px) {
  .sports_app__information__opportunity {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
 }
