
/* Setting the space between the last paragraph and the two button-links*/
.sports_app__information {
  margin-bottom: 50px;
}

.sports_app__information__opportunity--recommendation {
  font-family: 'lato-bold';
  font-size: 30px;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-block-start: 0;
  letter-spacing: 0.03em;
  color: #333333;
}

.sports_app__information__opportunity--goal {
  font-family: 'lato-regular';
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #4F4F4F;
}


@media (min-width: 480px) {
  .sports_app__information__opportunity {
    text-align: start;
  }

  .sports_app__information__opportunity--recommendation {
    max-width: 546px;
    max-height: 96px;
  }

  .sports_app__information__opportunity--goal {
    max-width: 453px;
    max-height: 86px;
  }
}
